## 1. Data Inspection and cleaning

In [1]:
import pandas as pd
from pandas import read_excel
import numpy as np

### Deliverando Dataset

In [2]:
data_1 = pd.read_csv('data_sets/SalesAnalyst_deliverando.csv', delimiter=';')
data_1.head()

    name   zip                      kpi  Month 1  Month 2 delivery service
0  Mampf  8020  # Commissionable Orders    699.0   822.00      deliverando
1  Mampf  8020        Avg Basket Size €     22.5    23.33      deliverando
2  Mampf  8020      # Negative Comments      3.0     4.00      deliverando
3  Mampf  8020      # Positive Comments      1.0     1.00      deliverando
4  Mampf  8020              % Kill Rate     52.0    46.00      deliverando

In [3]:
data_1.count()

name                1648
zip                 1648
kpi                 1648
Month 1             1648
Month 2             1648
delivery service    1648
dtype: int64

In [4]:
data_1.columns

Index(['name', 'zip', 'kpi', 'Month 1', 'Month 2', 'delivery service'], dtype='object')

In [5]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648 entries, 0 to 1647
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1648 non-null   object
 1   zip               1648 non-null   int64
 2   kpi               1648 non-null   object
 3   Month 1           1648 non-null   float64
 4   Month 2           1648 non-null   float64
 5   delivery service  1648 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 77.4+ KB

In [6]:
data_1['kpi'].unique()

array(['# Commissionable Orders', 'Avg Basket Size €',
       '# Negative Comments', '# Positive Comments', '% Kill Rate',
       'Avg Time to Accept (s)'], dtype=object)

In [7]:
data_1.isnull().sum()

name                0
zip                 0
kpi                 0
Month 1             0
Month 2             0
delivery service    0
dtype: int64

In [8]:
data_1_orders= data_1.loc[data_1['kpi']=='# Commissionable Orders']

In [9]:
data_1_orders.head()

,name,zip,kpi,Month 1,Month 2,delivery service
0,Mampf,8020,# Commissionable Orders,699.0,822.0,deliverando
6,Dolce Vita,8020,# Commissionable Orders,1178.0,1353.0,deliverando
12,China Restaurant Mond,8010,# Commissionable Orders,230.0,375.0,deliverando
18,Royal,8020,# Commissionable Orders,692.0,734.0,deliverando
24,Xpress,8020,# Commissionable Orders,365.0,410.0,deliverando

In [10]:
data_1_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 0 to 1645
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              335 non-null    object
 1   zip               335 non-null    int64
 2   kpi               335 non-null    object
 3   Month 1           335 non-null    float64
 4   Month 2           335 non-null    float64
 5   delivery service  335 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 18.3+ KB

In [11]:
data_1_orders.duplicated().sum()

0

In [12]:
data_1_orders['total_orders']= data_1['Month 1'] + data_1['Month 2']

/var/folders/yq/6pm1lcds6ln5qlsjc5y8fly00000gn/T/ipykernel_5879/3894230365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1_orders['total_orders']= data_1['Month 1'] + data_1['Month 2']

In [13]:
data_1_orders

,name,zip,kpi,Month 1,Month 2,delivery service,total_orders
0,Mampf,8020,# Commissionable Orders,699.0,822.0,deliverando,1521.0
6,Dolce Vita,8020,# Commissionable Orders,1178.0,1353.0,deliverando,2531.0
12,China Restaurant Mond,8010,# Commissionable Orders,230.0,375.0,deliverando,605.0
18,Royal,8020,# Commissionable Orders,692.0,734.0,deliverando,1426.0
24,Xpress,8020,# Commissionable Orders,365.0,410.0,deliverando,775.0
...,...,...,...,...,...,...,...
1633,Gasthof zum Bayernbrunnen,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0
1636,Ucco's,8010,# Commissionable Orders,0.0,0.0,deliverando,0.0
1639,Wir:zhaus,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0
1642,Namaste Nepal Restaurant,8010,# Commissionable Orders,0.0,0.0,deliverando,0.0
1645,Easy Asia,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0

### Competition Dataset

#### Sheet 1

In [14]:
data_sheet1 = pd.read_excel('data_sets/SalesAnalyst_Competition.xlsx')
data_sheet1.head()

                    name     zip  orders  month delivery_service
0         Chen's Cooking  1120.0   575.0    1.0      competition
1              Al Capone  4614.0   283.0    1.0      competition
2          Schesch Besch  1010.0    43.0    1.0      competition
3      Gasthaus Bergwirt  4053.0  1054.0    1.0      competition
4  Kebap & Pizza Antalya  9020.0   168.0    1.0      competition

In [15]:
data_sheet1.columns

Index(['name', 'zip', 'orders', 'month', 'delivery_service'], dtype='object')

In [16]:
data_sheet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3207 entries, 0 to 3206
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3207 non-null   object
 1   zip               3207 non-null   float64
 2   orders            3207 non-null   float64
 3   month             3207 non-null   float64
 4   delivery_service  3207 non-null   object
dtypes: float64(3), object(2)
memory usage: 125.4+ KB

In [17]:
data_2= data_sheet1.astype({'zip': int, 'orders': int, 'month': int },copy=False)

In [18]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3207 entries, 0 to 3206
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3207 non-null   object
 1   zip               3207 non-null   int64
 2   orders            3207 non-null   int64
 3   month             3207 non-null   int64
 4   delivery_service  3207 non-null   object
dtypes: int64(3), object(2)
memory usage: 125.4+ KB

In [19]:
data_2.isnull().sum()

name                0
zip                 0
orders              0
month               0
delivery_service    0
dtype: int64

In [20]:
data_2[data_2.duplicated(['name','zip'])]

                       name   zip  orders  month delivery_service
153    Wiener Schnitzelland  1220      87      1      competition
165                 Tasties  6020       1      1      competition
226             McDonald's®  4020     507      1      competition
421              Burgerista  1150     439      1      competition
867             McDonald's®  6020     165      1      competition
942                 NORDSEE  1010       2      1      competition
1073            McDonald's®  6020     288      1      competition
1087   Wiener Schnitzelland  1220     616      1      competition
1174            McDonald's®  9020     370      1      competition
1245            McDonald's®  9020      84      1      competition
1317        Rosamunde Kebap  8010     129      1      competition
1330                NORDSEE  1010       8      1      competition
1672            McDonald's®  4020     406      1      competition
1848     Die Bausatz Lokale  8010       2      1      competition
1929                NORDSEE  6020       8      1      competition
2135            McDonald's®  9020      44      1      competition
2178  Fresh One Pot Kitchen  1010       1      1      competition
2196            McDonald's®  1100     264      1      competition
2208            McDonald's®  8010     166      1      competition
2267          Schnitzel Man  1120     723      1      competition
2286            Burger King  1100     171      1      competition
2310            McDonald's®  1090     291      1      competition
2312            McDonald's®  5020     526      1      competition
2361            McDonald's®  8020     371      1      competition
2403               Yamamoto  8010       2      1      competition
2420         Aydin Bäckerei  6020       2      1      competition
2453            McDonald's®  1010     583      1      competition
2516            Som Kitchen  1100      83      1      competition
2529            McDonald's®  6020     163      1      competition
2544            Burger King  8010      41      1      competition
2568                  ACASA  6020     769      1      competition
2598                 Subway  8020       9      1      competition
2616                 Subway  4020     292      1      competition
2703            McDonald's®  1100     128      1      competition
2881          Juice Factory  1010      44      1      competition
3079                NORDSEE  1150      45      1      competition
3087                NORDSEE  5020       5      1      competition
3103            McDonald's®  1020       9      1      competition
3166            McDonald's®  1110     292      1      competition

In [21]:
#unique values restaurants

data_2_unique= data_2.groupby(['name','zip','month','delivery_service'], as_index=False).agg({'orders': 'sum'})

data_2_unique

                      name   zip  month delivery_service  orders
0               1001 nacht  1170      1      competition      44
1        11:11 Make a Wish  5020      1      competition      41
2          15 süße Minuten  1040      1      competition      44
3     1516 Brewing Company  1010      1      competition     488
4          1A Pizzaexpress  8740      1      competition     409
...                    ...   ...    ...              ...     ...
3163                Ötzi's  9560      1      competition     652
3164      Ötzi's Fast Food  9800      1      competition       8
3165         Öz Etli Ekmek  1050      1      competition      48
3166            Ünlü Kebap  1110      1      competition      49
3167    ​Ristorante Milano  1210      1      competition     124

[3168 rows x 5 columns]

In [22]:
data_2_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3168 non-null   object
 1   zip               3168 non-null   int64
 2   month             3168 non-null   int64
 3   delivery_service  3168 non-null   object
 4   orders            3168 non-null   int64
dtypes: int64(3), object(2)
memory usage: 123.9+ KB

#### Sheet 2

In [23]:
data_sheet2 = pd.read_excel('data_sets/SalesAnalyst_Competition.xlsx', sheet_name = 1)
data_sheet2.head()

                          name     zip  orders  month delivery_service
0            Bio-Pizzeria Vero  1090.0   493.0    2.0      competition
1                  Nicht Pizza  1100.0  1191.0    2.0      competition
2  Fuzo Pizza Kebap & Getränke  4060.0    45.0    2.0      competition
3                   Eat & Meet  4303.0   148.0    2.0      competition
4                    La Vostra  1160.0  1540.0    2.0      competition

In [24]:
data_sheet2.columns

Index(['name', 'zip', 'orders', 'month', 'delivery_service'], dtype='object')

In [25]:
data_sheet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3242 non-null   object
 1   zip               3242 non-null   float64
 2   orders            3242 non-null   float64
 3   month             3242 non-null   float64
 4   delivery_service  3242 non-null   object
dtypes: float64(3), object(2)
memory usage: 126.8+ KB

In [26]:
data_3= data_sheet2.astype({'zip': int, 'orders': int, 'month': int },copy=False)

In [27]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3242 non-null   object
 1   zip               3242 non-null   int64
 2   orders            3242 non-null   int64
 3   month             3242 non-null   int64
 4   delivery_service  3242 non-null   object
dtypes: int64(3), object(2)
memory usage: 126.8+ KB

In [28]:
data_3.isnull().sum()

name                0
zip                 0
orders              0
month               0
delivery_service    0
dtype: int64

In [29]:
data_3['name'].duplicated().sum()

310

In [30]:
data_3[data_3.duplicated(keep=False)]

                       name   zip  orders  month delivery_service
928   Fresh One Pot Kitchen  1010      10      2      competition
1779  Fresh One Pot Kitchen  1010      10      2      competition

In [31]:
data_3[data_3.duplicated(['name','zip'])]

                       name   zip  orders  month delivery_service
396              Pizza Mann  5020     110      2      competition
480    Wiener Schnitzelland  1220     499      2      competition
855                 NORDSEE  1010       9      2      competition
1015            McDonald's®  9020     321      2      competition
1065                NORDSEE  1010      11      2      competition
1227            McDonald's®  6020     271      2      competition
1403             Burgerista  1150     241      2      competition
1465            McDonald's®  6020     215      2      competition
1557            McDonald's®  8010     704      2      competition
1612                NORDSEE  6020      14      2      competition
1732            McDonald's®  1100     522      2      competition
1755     Die Bausatz Lokale  8010       7      2      competition
1779  Fresh One Pot Kitchen  1010      10      2      competition
1814            McDonald's®  9020      84      2      competition
1818                Tasties  6020       7      2      competition
2046            McDonald's®  1110     188      2      competition
2120            McDonald's®  1090     250      2      competition
2128            McDonald's®  5020     452      2      competition
2310                  ACASA  6020    1533      2      competition
2377            McDonald's®  9020      93      2      competition
2547        Rosamunde Kebap  8010     285      2      competition
2594            Som Kitchen  1100     186      2      competition
2605            Burger King  8010      79      2      competition
2625            McDonald's®  6020     193      2      competition
2689   Wiener Schnitzelland  1220    1003      2      competition
2718            McDonald's®  1010     344      2      competition
2751            McDonald's®  4020     425      2      competition
2782            McDonald's®  8020     393      2      competition
2897         Aydin Bäckerei  6020       4      2      competition
2934               Yamamoto  8010     141      2      competition
2946            McDonald's®  1100     179      2      competition
3040                NORDSEE  5020      57      2      competition
3065                NORDSEE  1150    1931      2      competition
3093            McDonald's®  4020     408      2      competition
3096          Juice Factory  1010       8      2      competition
3110                 Subway  8020     160      2      competition
3124                 Subway  4020     365      2      competition
3176            McDonald's®  1020      90      2      competition
3197          Schnitzel Man  1120     632      2      competition
3220            Burger King  1100     223      2      competition

In [32]:
#unique values restaurants

data_3_unique= data_3.groupby(['name','zip','month','delivery_service'], as_index=False).agg({'orders': 'sum'})

data_3_unique

                      name   zip  month delivery_service  orders
0               1001 nacht  1170      2      competition      76
1        11:11 Make a Wish  5020      2      competition      11
2          15 süße Minuten  1040      2      competition      34
3     1516 Brewing Company  1010      2      competition     338
4          1A Pizzaexpress  8740      2      competition     453
...                    ...   ...    ...              ...     ...
3197                Ötzi's  9560      2      competition     753
3198      Ötzi's Fast Food  9800      2      competition      54
3199         Öz Etli Ekmek  1050      2      competition      37
3200            Ünlü Kebap  1110      2      competition      10
3201    ​Ristorante Milano  1210      2      competition      81

[3202 rows x 5 columns]

# Business Questions

## 1. How many restaurants are active on deliverando or our competitors in the given months (>0 orders per month)?

In [33]:
data_1_orders

,name,zip,kpi,Month 1,Month 2,delivery service,total_orders
0,Mampf,8020,# Commissionable Orders,699.0,822.0,deliverando,1521.0
6,Dolce Vita,8020,# Commissionable Orders,1178.0,1353.0,deliverando,2531.0
12,China Restaurant Mond,8010,# Commissionable Orders,230.0,375.0,deliverando,605.0
18,Royal,8020,# Commissionable Orders,692.0,734.0,deliverando,1426.0
24,Xpress,8020,# Commissionable Orders,365.0,410.0,deliverando,775.0
...,...,...,...,...,...,...,...
1633,Gasthof zum Bayernbrunnen,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0
1636,Ucco's,8010,# Commissionable Orders,0.0,0.0,deliverando,0.0
1639,Wir:zhaus,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0
1642,Namaste Nepal Restaurant,8010,# Commissionable Orders,0.0,0.0,deliverando,0.0
1645,Easy Asia,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0

In [34]:
total_restaurants_data_1= data_1_orders['name'].count()
total_restaurants_data_1

335

In [35]:
active_orders_data_1_m1= data_1_orders.loc[data_1_orders['Month 1'] > 0]
number_active_data_1_m1= active_orders_data_1_m1['name'].count()
number_active_data_1_m1

232

In [36]:
active_orders_data_1_m2= data_1_orders.loc[data_1_orders['Month 2'] > 0]
number_active_data_1_m2= active_orders_data_1_m2['name'].count()
number_active_data_1_m2

238

In [37]:
print(f'The number of active restaurants that are active (>0 orders per month) on deliverando in Month 1 is {number_active_data_1_m1} out of {total_restaurants_data_1} restaurants registered')

The number of active restaurants that are active (>0 orders per month) on deliverando in Month 1 is 232 out of 335 restaurants registered

In [38]:
print(f'The number of active restaurants that are active (>0 orders per month) on deliverando in Month 2 is {number_active_data_1_m2} out of {total_restaurants_data_1} restaurants registered')

The number of active restaurants that are active (>0 orders per month) on deliverando in Month 2 is 238 out of 335 restaurants registered

In [39]:
data_2

                       name   zip  orders  month delivery_service
0            Chen's Cooking  1120     575      1      competition
1                 Al Capone  4614     283      1      competition
2             Schesch Besch  1010      43      1      competition
3         Gasthaus Bergwirt  4053    1054      1      competition
4     Kebap & Pizza Antalya  9020     168      1      competition
...                     ...   ...     ...    ...              ...
3202   Trattoria Pulcinella  1060       4      1      competition
3203              Chilidorf  1190     122      1      competition
3204                La Sera  1150      10      1      competition
3205                 Aangan  1220     737      1      competition
3206              Tokyo Bay  5020    1012      1      competition

[3207 rows x 5 columns]

In [40]:
total_restaurants_data_2= data_2['name'].count()
total_restaurants_data_2

3207

In [41]:
active_orders_data_2_m1= data_2.loc[data_2['orders'] > 0]
number_active_data_2_m1= active_orders_data_2_m1['name'].count()
number_active_data_2_m1

3162

In [42]:
print(f'The number of active restaurants that are active (>0 orders per month) from our competitors in Month 1 is {number_active_data_2_m1} out of {total_restaurants_data_2} registered')

The number of active restaurants that are active (>0 orders per month) from our competitors in Month 1 is 3162 out of 3207 registered

In [43]:
data_3

                             name   zip  orders  month delivery_service
0               Bio-Pizzeria Vero  1090     493      2      competition
1                     Nicht Pizza  1100    1191      2      competition
2     Fuzo Pizza Kebap & Getränke  4060      45      2      competition
3                      Eat & Meet  4303     148      2      competition
4                       La Vostra  1160    1540      2      competition
...                           ...   ...     ...    ...              ...
3237                     Ding Wei  1150     836      2      competition
3238                      RistOro  3002     217      2      competition
3239                 Café Amacord  1040      91      2      competition
3240           Extra Balkan Grill  6900     368      2      competition
3241         Cafe Mozart Salzburg  5020       7      2      competition

[3242 rows x 5 columns]

In [44]:
total_restaurants_data_3= data_3['name'].count()
total_restaurants_data_3

3242

In [45]:
active_orders_data_3_m2= data_3.loc[data_3['orders'] > 0]
number_active_data_3_m2= active_orders_data_3_m2['name'].count()
number_active_data_3_m2

3240

In [46]:
print(f'The number of active restaurants that are active (>0 orders per month) from our competitors in Month 2 is {number_active_data_3_m2} out of {total_restaurants_data_3} registered')

The number of active restaurants that are active (>0 orders per month) from our competitors in Month 2 is 3240 out of 3242 registered

In [47]:
data_2_name_zip= data_2[['name','zip']]

In [48]:
data_3_name_zip= data_3[['name','zip']]

In [49]:
data_3_name_zip.isin(data_2_name_zip)

       name    zip
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
3237  False  False
3238  False  False
3239  False  False
3240  False  False
3241  False  False

[3242 rows x 2 columns]

## How much have the respective platforms grown?

In [50]:
deliverando_growth= ((number_active_data_1_m2/number_active_data_1_m1)-1)*100

print(f'deliverando grew from month 1 to month 2: {deliverando_growth.round(2)}%')

deliverando grew from month 1 to month 2: 2.59%

In [51]:
competitors_growth= ((number_active_data_3_m2/number_active_data_2_m1)-1)*100

print(f'Competitors grew from month 1 to month 2: {competitors_growth.round(2)}%')

Competitors grew from month 1 to month 2: 2.47%

## 2. How many restaurants are exclusively online with our competitors and not available on deliverando?

In [52]:
exclusive_deliverando= data_1['name'].unique().tolist()
len(exclusive_deliverando)

309

In [53]:
competitors_restaurants= pd.concat([data_2['name'], data_3['name']]).to_frame()

In [54]:
exclusive_competitors= competitors_restaurants['name'].unique().tolist()
len(exclusive_competitors)

2932

In [55]:
not_on_deliverando= []

for restaurant in exclusive_competitors:
    if not restaurant in exclusive_deliverando:
        not_on_deliverando.append(restaurant)

In [56]:
len(not_on_deliverando)

2726

In [57]:
print(f'There are {len(not_on_deliverando)} exclusively online with our competitors and not available on deliverando')

There are 2726 exclusively online with our competitors and not available on deliverando

## 3.Which restaurants have placed the most orders with our competitors (top 10)?

In [58]:
data_1['total_orders']= data_1['Month 1'] + data_1['Month 2']
data_1.head()

,name,zip,kpi,Month 1,Month 2,delivery service,total_orders
0,Mampf,8020,# Commissionable Orders,699.0,822.00,deliverando,1521.00
1,Mampf,8020,Avg Basket Size €,22.5,23.33,deliverando,45.83
2,Mampf,8020,# Negative Comments,3.0,4.00,deliverando,7.00
3,Mampf,8020,# Positive Comments,1.0,1.00,deliverando,2.00
4,Mampf,8020,% Kill Rate,52.0,46.00,deliverando,98.00

In [59]:
competitors_data= data_2.merge(data_3, how= 'inner', on= ['name','zip'])

In [60]:
competitors_data['total_orders']= competitors_data['orders_x'] + competitors_data['orders_y']

In [61]:
competitors_data.head()

,name,zip,orders_x,month_x,delivery_service_x,orders_y,month_y,delivery_service_y,total_orders
0,Chen's Cooking,1120,575,1,competition,426,2,competition,1001
1,Al Capone,4614,283,1,competition,151,2,competition,434
2,Schesch Besch,1010,43,1,competition,79,2,competition,122
3,Gasthaus Bergwirt,4053,1054,1,competition,1048,2,competition,2102
4,Kebap & Pizza Antalya,9020,168,1,competition,156,2,competition,324

In [62]:
competitors_data = competitors_data.sort_values(by=['total_orders'], ascending= False)
competitors_data

,name,zip,orders_x,month_x,delivery_service_x,orders_y,month_y,delivery_service_y,total_orders
2396,Pizzeria Peperoni & Getränke,1050,4156,1,competition,4131,2,competition,8287
1991,Mr. Schnitzel & Burger,1150,3891,1,competition,2196,2,competition,6087
658,Pizzeria da Corrado,1140,3523,1,competition,2039,2,competition,5562
1973,Sisi Pizzaboy,1190,2726,1,competition,2046,2,competition,4772
639,Sternberg,1220,2609,1,competition,2084,2,competition,4693
...,...,...,...,...,...,...,...,...,...
325,Ristorante Don Giovanni,1040,0,1,competition,5,2,competition,5
790,Pizzeria Torino,2500,2,1,competition,2,2,competition,4
2823,Schile,1060,0,1,competition,4,2,competition,4
77,Tasties,6020,1,1,competition,3,2,competition,4
75,Tasties,6020,1,1,competition,3,2,competition,4

In [63]:
top_10_competitors= competitors_data.sort_values(by=['total_orders'], ascending= False).head(10)

In [64]:
top_10_competitors['name'].to_list()

['Pizzeria Peperoni & Getränke',
 'Mr. Schnitzel & Burger',
 'Pizzeria da Corrado',
 'Sisi Pizzaboy',
 'Sternberg',
 'Mille Stelle',
 'Pizzeria Ristorante Napolitana',
 'Pizzeria Hausleitner',
 'Neun Kebab',
 'La Mare']

In [65]:
print('The top ten restaurants by orders with our competitors are:', top_10_competitors['name'].to_list())

The top ten restaurants by orders with our competitors are: ['Pizzeria Peperoni & Getränke', 'Mr. Schnitzel & Burger', 'Pizzeria da Corrado', 'Sisi Pizzaboy', 'Sternberg', 'Mille Stelle', 'Pizzeria Ristorante Napolitana', 'Pizzeria Hausleitner', 'Neun Kebab', 'La Mare']

In [66]:
data_1_orders

,name,zip,kpi,Month 1,Month 2,delivery service,total_orders
0,Mampf,8020,# Commissionable Orders,699.0,822.0,deliverando,1521.0
6,Dolce Vita,8020,# Commissionable Orders,1178.0,1353.0,deliverando,2531.0
12,China Restaurant Mond,8010,# Commissionable Orders,230.0,375.0,deliverando,605.0
18,Royal,8020,# Commissionable Orders,692.0,734.0,deliverando,1426.0
24,Xpress,8020,# Commissionable Orders,365.0,410.0,deliverando,775.0
...,...,...,...,...,...,...,...
1633,Gasthof zum Bayernbrunnen,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0
1636,Ucco's,8010,# Commissionable Orders,0.0,0.0,deliverando,0.0
1639,Wir:zhaus,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0
1642,Namaste Nepal Restaurant,8010,# Commissionable Orders,0.0,0.0,deliverando,0.0
1645,Easy Asia,8020,# Commissionable Orders,0.0,0.0,deliverando,0.0

In [67]:
data_1_orders_raking= data_1_orders.sort_values(by=['total_orders'], ascending= False)
data_1_orders_raking= data_1_orders_raking.astype({'total_orders': int },copy=False)

## Are these restaurants also active on deliverando and if so, how did the orders on the deliverando platform compare to the performance on the competitor platform?

In [68]:
top_10_competitors_name_zip= top_10_competitors[['name','zip']]

In [69]:
deliverando_name_zip= data_1_orders[['name','zip']]

In [70]:
top_10_competitors_name_zip.isin(deliverando_name_zip)

       name    zip
2396  False  False
1991  False  False
658   False  False
1973  False  False
639   False  False
322   False  False
42    False  False
2902  False  False
2759  False  False
3135  False  False

##### The restaurants (equal name and zip code) from the TOP 10 compatitors are not on deliverando's pool of restaurants.

In [71]:
top_10_competitors_name= top_10_competitors['name']

In [72]:
deliverando_name= data_1_orders['name']

In [73]:
top_10_competitors_name.isin(deliverando_name)

2396    False
1991    False
658     False
1973    False
639     False
322     False
42      False
2902    False
2759    False
3135    False
Name: name, dtype: bool

##### The restaurants (equal name) from the TOP 10 compatitors are not on deliverando.

In [74]:
data_1['kpi'].unique()

array(['# Commissionable Orders', 'Avg Basket Size €',
       '# Negative Comments', '# Positive Comments', '% Kill Rate',
       'Avg Time to Accept (s)'], dtype=object)